body {
    background-color: whitesmoke;
} 

p{
    color: black;
    border: red;
    padding-top: 10px;
}

#titulo{
    position: sticky;
    padding: 10px;
    top:0;
    background-color: rgb(212, 212, 244);
}

#logo{
    font-size: 2rem;
}

p {
    font-family: "Times New Roman", 'Times New Roman', Times, serif;
}

.viaje {
    text-align: center;
  }
  
  .viaje img {
    display: inline-block;
  }
  

.texto{
    margin-left: 2vw;
}

.parrafos{
    margin-left: 2vw;
}

.texto2 {
    padding-left: 20vw; 
    padding-right: 20vw;
  }
  

/* .texto2{
    margin-left: 2vw;
} */

.parrafos2{
    padding-left: 20vw; 
    padding-right: 20vw;
}

.contact{
    font-family: Arial, Helvetica, sans-serif;
}

.row{
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
    margin: 0;
}

.imagenes{
    display: flex;
    justify-content: space-between;
}

.imagenes{
    width: 19vw;
    height: 19vw;
    margin-right: 5vw;
    margin-left: 4vw;
}

.imagenesDestination1{
    display: flex;
}

.imagenesDestination1{
    width: 19vw;
    height: 19vw;
    margin-left: 2.5vw;
    margin-top: 2vw;
}

.imagenesDestination2{
    display: flex;
}

.imagenesDestination2{
    width: 19vw;
    height: 19vw;
    margin-left: 2.5vw;
    margin-top: 2vw;
}

.imagenesDestination3{
    display: flex;
}

.imagenesDestination3{
    width: 19vw;
    height: 19vw;
    margin-left: 2.5vw;
    margin-top: 2vw;
}

.imagenesDestination4{
    display: flex;
}

.imagenesDestination4{
    width: 19vw;
    height: 19vw;
    margin-left: 2.5vw;
    margin-top: 2vw;
}

.imagenesDestination5{
    display: flex;
}

.imagenesDestination5{
    width: 19vw;
    height: 19vw;
    margin-left: 2.5vw;
    margin-top: 2vw;
}

.imagenesDestination6{
    display: flex;
}

.imagenesDestination6{
    width: 19vw;
    height: 19vw;
    margin-left: 2.5vw;
    margin-top: 2vw;
}

.imagenesDestination7{
    display: flex;
}

.imagenesDestination7{
    width: 19vw;
    height: 19vw;
    margin-left: 2.5vw;
    margin-top: 2vw;
}

.container {
    text-align: center; 
    margin-top: 50px; 
  }
  
  .carousel {
    max-width: 800px; 
    margin: 0 auto; 
  }

  .carousel-inner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  

/* .carousel{
    width: 50vw;
    height: 50vw;
} */

/* .carousel img {
    width: 5vw;
} */

.navbar-nav{
    list-style-type: none;
    align-items: center;
 
}
.navbar-nav li a{
    text-align: center;
    text-decoration: none;
}

.nav-link{
    color: black!important;
}
a{
    color: black;
    color: black!important;
}

.nav-link:hover{
    color: black;
}
a:hover{
   color: black;
}
